body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    background-color: #E7F6F2;
    margin: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 32px auto;
    padding-right: 16px;
    padding-left: 16px;
  }
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h1, h2 {
    border-bottom: 1px solid #F2E5E5;
  }
  
  ul {
    padding-left: 25px;
  }
  
  blockquote {
    border-left: 4px solid #E8C4C4;
    margin: 0 0 0 21px;
    padding-left: 16px;
    padding-right: 16px;
    color: #CE7777;
    font-size: 16px;
  }
  
  a {
    color: #2B3A55;
  }